Options -Indexes
DirectoryIndex index.html

<FilesMatch "\.(php)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

<Files "*.json">
    Order Deny,Allow
    Deny from all
</Files>

php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off
ErrorDocument 404 /404.html
ErrorDocument 500 /500.html